<template name="home">
  {{#Surface}}
    <div class="container">
      <div id="main" role="main">
      	<h1>famous-views (for Meteor)</h1>
          <p>
          Famous-views (formerly famous-components)
          is an attempt at a tight integration between Blaze and Famous. All the other
          approaches I've seen so far side step most of Blaze, and require writing large
          amounts of code in JavaScript, which felt very unnatural to me in Meteor. Meteor
          code should be small, concise and easy with powerful results.
        </p>
      </div>
    </div>
  {{/Surface}}
</template>